.imagePopup__image {

}

@media screen and (max-width: 1070px) {
    .imagePopup__image {
        max-height: 500px;
        max-width: 600px;
    }
}

@media screen and (max-width: 800px) {
    .imagePopup__image {
        max-height: 299px;
        max-width: 240px;
    }
}