.profile__info {
  display: grid;
  grid-template-columns: 294px 24px;
  gap: 18px;
  padding: 0;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 896px) {
  .profile__info {
    text-align: center;
    gap: 10px;
    grid-template-columns: 320px 24px;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 520px) {
  .profile__info {
    grid-template-columns: 189px 24px;
  }
}
