.page {
    max-width: 1280px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .page {
        padding: 0 20px;
    }
}

@media screen and (max-width: 645px) {
    .page {
        padding: 0;
        max-width: 320px;
    }
}