.profile__edit {
    width: 24px;
    height: 24px;
    background: url("../../../images/edit.svg") no-repeat center;
    outline: none;
    cursor: pointer;
    margin: 0 20px 0;
    padding: 0;
    border: 1px solid #FFFFFF;
}
.profile__edit:hover {
    opacity: 60%;
    transition-duration: .3s;
}
@media screen and (max-width: 645px) {
    .profile__edit {
        width: 18px;
        height: 18px;
    }
}