.profile__button-add {
  max-width: 150px;
  max-height: 50px;
  width: 100%;
  background: url(../../../image/Add_Button.svg) 50% no-repeat;
  margin: 35px 0 0 auto;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 2px;
}

.profile__button-add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 896px) {
  .profile__button-add {
    max-width: 282px;
    margin: auto;
    height: 50px;

    background-size: 16px;
  }
}
