.profile {
  max-width: 880px;
  margin: 40px auto 51px;
  display: flex;
}

/*@media screen and (max-width: 896px) {
  .profile {
    grid-template-columns: 1fr;
  }
}*/

@media screen and (max-width: 895px) {
  .profile {
    flex-direction: column;
    margin: 42px auto 36px;
    width: calc(100% - 38px);
  }
}
