.avatarPopup__title {
    margin: 3px 0 50px;
    font-weight: 900;
    font-size: 24px;
    line-height: 22px;
}

@media screen and (max-width: 645px) {
    .avatarPopup__title {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 75px;
    }
}
