.profile__add-button {
    background: url("../../../images/add-button.svg") no-repeat center;
    margin: 0;
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    align-self: center;
}
.profile__add-button:hover {
    opacity: 60%;
    transition-duration: .3s;
}