.popup__container {
  background-color: #fff;
  color: #000;
  max-width: 430px;
  padding: 34px 36px 37px;
  border-radius: 10px;
  position: relative;
  transition: all 0.2s linear;
}

@media screen and (max-width: 450px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px 25px;
  }
}
