.popup__exit {
    margin: 0;
    padding: 0;
    position: absolute;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    top: -40px;
    right: -45px;
    cursor: pointer;
    background: url(../../../images/close.svg) transparent no-repeat;
}

.popup__exit:hover {
    opacity: 0.6;
    transition-duration: .3s;
}

@media screen and (max-width: 645px) {
    .popup__exit {
        width: 20px;
        height: 20px;
        background: url(../../../images/close-icon-small.svg) transparent no-repeat;
        right: 0;
        top: -36px;
    }
}