.element__delete-button {
  background: url(../../../image/delete_button.svg) no-repeat;
  border: none;
  cursor: pointer;
  height: 19px;
  width: 18px;
  top: 20px;
  right: 20px;
  position: absolute;
}

.element__delete-button:hover {
  opacity: 0.6;
}
