.profile__details {
    margin: 0 auto 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 645px) {
    .profile__details {
        margin: 22px auto 30px;
        max-width: 100%;
        width: 282px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}