.header {
    max-width: 880px;
    width: 100%;
    padding: 45px 0 41px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);

}

@media screen and (max-width: 645px) {
    .header {
        max-width: 320px;
        padding: 28px 0 0;
    }
}